<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Expense List</h1>

 <table class="table table-bordered table-border text-center shadow">
    <tr>
        <th> ID </th>
        <th> Expense Name </th>
        <th> Amount </th>
        <th> Date </th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>
    <% for (var i = 0; i < expenses.length; i++) { %>
        <tr>
            <td><%= expenses[i].id %></td>
            <td><%= expenses[i].expense_name %></td>
            <td><%= expenses[i].amount %></td>
            <td><%= expenses[i].date %></td>
            <td><a href="/edit/<%= expenses[i].id %>"  class="btn btn-success btn-sm">Edit</a></td>
            <td><a href="/delete/<%= expenses[i].id %>" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
    <% } %>
</table>

    </div>
    
</body>
</html>

